<div>
    <h2>Услуги в заказе</h2>

    <ul class="nomenclatures">
        <li *ngFor="let data of nomenclatures | sortNomenclatures"
            class="nomenclature"
            [class.nomenclature__unavailable]="data.status === 'Unavailable'">
            <span class="nomenclature-code">{{data.code}}</span>
            <span class="nomenclature-name">{{data.name}}</span>
            <span class="nomenclature-price">{{data.price}},00 ₽</span>
            <span class="nomenclature-remove" (click)="remove(data)">&#10005;</span>
        </li>
    </ul>
</div>
